In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#importing data
df=pd.read_excel("/content/drive/My Drive/FLIPR_6/Test_dataset.xlsx",sheet_name="Foreign_Visitors_TS")
City = df['City'].values
df.drop("City",axis=1,inplace=True)

In [ ]:
df.dtypes

Time Series Data    object
Unnamed: 2          object
Unnamed: 3          object
Unnamed: 4          object
Unnamed: 5          object
dtype: object

In [ ]:
df.head()

  Time Series Data Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0            April        May       June       July     August
1             1614       1946       2372       2500       2769
2           369179     445559     541045     572860     636502
3           140581     169665     206030     218138     242367
4          2557179    3086249    3747597    3968032    4408916

In [ ]:
df.rename(columns={'Time Series Data':'2020-04-01', 'Unnamed: 2': '2020-05-01', 'Unnamed: 3':'2020-06-01', 'Unnamed: 4':'2020-07-01', 'Unnamed: 5':'2020-08-01'},inplace = True)

In [ ]:
df.drop([0],inplace = True)

In [ ]:
df['2020-04-01'] = df['2020-04-01'].astype(float)
df['2020-05-01'] = df['2020-05-01'].astype(float)
df['2020-06-01'] = df['2020-06-01'].astype(float)
df['2020-07-01'] = df['2020-07-01'].astype(float)
df['2020-08-01'] = df['2020-08-01'].astype(float)

In [ ]:
df.dtypes

2020-04-01    float64
2020-05-01    float64
2020-06-01    float64
2020-07-01    float64
2020-08-01    float64
dtype: object

In [ ]:
df = df.transpose()

In [ ]:
df.head()

               1         2         3    ...       499       500        501
2020-04-01  1614.0  369179.0  140581.0  ...   61420.0   61420.0  1800363.0
2020-05-01  1946.0  445559.0  169665.0  ...   74125.0   74125.0  2172850.0
2020-06-01  2372.0  541045.0  206030.0  ...   90018.0   90018.0  2638469.0
2020-07-01  2500.0  572860.0  218138.0  ...   95302.0   95302.0  2793662.0
2020-08-01  2769.0  636502.0  242367.0  ...  105882.0  105882.0  3104060.0

[5 rows x 501 columns]

In [ ]:
for i in range(1,502):
    df.replace(np.NaN,{i:df[i].mean()},inplace=True)

In [ ]:
df.shape

(5, 501)

In [ ]:
df = df.transpose()

In [ ]:
def split_dataset(sequence, n_steps):
    X = list()
    for i in range(len(sequence)):
        end_ix = i + n_steps
        if end_ix == len(sequence):
            break
        seq_x = sequence[i:end_ix+1]
        X.append(seq_x)
    return pd.DataFrame(X)

In [ ]:
def get_data(data,n_steps):
    database = pd.DataFrame()
    for i in range(len(data)):
        arr = split_dataset(data.values[i],n_steps)
        database = database.append(arr, ignore_index=True)
    print("data:", data.shape)
    print("database:", database.shape)
    return (database)

In [ ]:
n_steps = 1
train_database = get_data(df,n_steps)
Y_train = train_database[n_steps].values
train_database = train_database.drop(n_steps, axis=1)
X_train = train_database.values
print(X_train.shape)
print(Y_train.shape)

data: (501, 5)
database: (2004, 2)
(2004, 1)
(2004,)

In [ ]:
np.savez("/content/drive/My Drive/FLIPR_6/time_data.npz", X_train=X_train, Y_train=Y_train, City= City, n_steps=np.array([n_steps]))

In [ ]:
import numpy as np
data = np.load("/content/drive/My Drive/FLIPR_6/time_data.npz")
X_train = data["X_train"]
Y_train = data["Y_train"]
#City = data['City']
n_steps = data["n_steps"][0]

In [ ]:
print(n_steps)

1

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Input

In [ ]:
model = Sequential()
model.add(Input((n_steps,1)))
model.add(LSTM(units=100, activation="relu", return_sequences=True))
model.add(LSTM(units=55, activation="relu", return_sequences=True))
model.add(Dense(1))
model.compile(optimizer="adam", loss="msle")

In [ ]:
X = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))

In [ ]:
Y = Y_train.reshape(-1,1)

In [ ]:
print("X:", X.shape)
print("Y:", Y.shape)

X: (2004, 1, 1)
Y: (2004, 1)

In [ ]:
model.fit(X,Y,epochs=30, validation_split=0.2)

Epoch 1/30
51/51 [==============================] - 0s 10ms/step - loss: 12.2404 - val_loss: 8.0679
Epoch 2/30
51/51 [==============================] - 0s 4ms/step - loss: 6.2538 - val_loss: 4.7126
Epoch 3/30
51/51 [==============================] - 0s 4ms/step - loss: 3.7857 - val_loss: 2.9477
Epoch 4/30
51/51 [==============================] - 0s 4ms/step - loss: 2.4083 - val_loss: 1.9072
Epoch 5/30
51/51 [==============================] - 0s 4ms/step - loss: 1.5752 - val_loss: 1.2596
Epoch 6/30
51/51 [==============================] - 0s 4ms/step - loss: 1.0478 - val_loss: 0.8422
Epoch 7/30
51/51 [==============================] - 0s 4ms/step - loss: 0.7035 - val_loss: 0.5663
Epoch 8/30
51/51 [==============================] - 0s 3ms/step - loss: 0.4746 - val_loss: 0.3821
Epoch 9/30
51/51 [==============================] - 0s 4ms/step - loss: 0.3210 - val_loss: 0.2579
Epoch 10/30
51/51 [==============================] - 0s 4ms/step - loss: 0.2172 - val_loss: 0.1737
Epoch 11/30
51/51 [==============================] - 0s 4ms/step - loss: 0.1469 - val_loss: 0.1168
Epoch 12/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0993 - val_loss: 0.0784
Epoch 13/30
51/51 [==============================] - 0s 3ms/step - loss: 0.0673 - val_loss: 0.0527
Epoch 14/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0460 - val_loss: 0.0357
Epoch 15/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0319 - val_loss: 0.0245
Epoch 16/30
51/51 [==============================] - 0s 3ms/step - loss: 0.0225 - val_loss: 0.0171
Epoch 17/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0164 - val_loss: 0.0123
Epoch 18/30
51/51 [==============================] - 0s 3ms/step - loss: 0.0125 - val_loss: 0.0093
Epoch 19/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0100 - val_loss: 0.0074
Epoch 20/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0085 - val_loss: 0.0063
Epoch 21/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0076 - val_loss: 0.0056
Epoch 22/30
51/51 [==============================] - 0s 3ms/step - loss: 0.0071 - val_loss: 0.0052
Epoch 23/30
51/51 [==============================] - 0s 3ms/step - loss: 0.0068 - val_loss: 0.0050
Epoch 24/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0066 - val_loss: 0.0049
Epoch 25/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0065 - val_loss: 0.0048
Epoch 26/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0064 - val_loss: 0.0048
Epoch 27/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0064 - val_loss: 0.0048
Epoch 28/30
51/51 [==============================] - 0s 3ms/step - loss: 0.0064 - val_loss: 0.0048
Epoch 29/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0064 - val_loss: 0.0048
Epoch 30/30
51/51 [==============================] - 0s 4ms/step - loss: 0.0064 - val_loss: 0.0048

In [ ]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_7 (LSTM)                (None, 1, 100)            40800
_________________________________________________________________
lstm_8 (LSTM)                (None, 1, 55)             34320
_________________________________________________________________
dense_4 (Dense)              (None, 1, 1)              56
=================================================================
Total params: 75,176
Trainable params: 75,176
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.save("/content/drive/My Drive/FLIPR_6/Time_model.h5")

In [ ]:
from tensorflow.keras.models import load_model
time_model = load_model("/content/drive/My Drive/FLIPR_6/Time_model.h5")

In [ ]:
import pandas as pd
test_dataset = pd.read_excel("/content/drive/My Drive/FLIPR_6/Test_dataset.xlsx")
test_fv = test_dataset["Foreign Visitors"]

In [ ]:
input_arr = test_diuresis.values.reshape(-1,1,1)
## n is no of month
n = 1
print(input_arr.shape)

(501, 1, 1)

In [ ]:
for i in range(n):
    input_arr = time_model.predict(input_arr)
    input_arr = input_arr.reshape(-1,1,1)

In [ ]:
input_arr = input_arr.flatten()

In [ ]:
test_dataset["Foreign Visitors"] = input_arr.astype("int64")

In [ ]:
test_dataset.to_excel("/content/drive/My Drive/FLIPR_6/modified_test_dataset.xlsx")